.painting-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; // Optional spacing between image and title
  margin-top: 3rem;
  img {
    width: min(60rem, 100vw);
    // height: min(60rem, 100vw);

    object-fit: contain;
  }

  .painting-details {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    .painting-detail-title {
    }
  }
}
