.painting-thumbnail-wrapper {
  width: var(--thumbnail-width);
  margin-bottom: 2rem;
  transition: all 300ms ease;

  img {
    object-fit: contain;
  }

  .painting-thumbnail-title {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
