.painting-thumbnail-wrapper{
    border: 1px solid blue;
    width: 300px;
    margin-bottom: 2rem;
    
    img{
        object-fit: contain;
    }

    .painting-thumbnail-title{
        border: 1px solid red;
    }

}